@import '../../node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400&display=swap');
body{
  font-family: 'Monserrat', sans-serif;
}
// move es el nombre y enter-avtive es el proceso de vue
.move-enter-active, .move-leave-active {
  transform: translateX(0);
  transition: all .3s linear;
}

.move-enter, .move-leave-to {
  transform:translateX(100%);
}
